<div class="box ng-scope" style="margin-bottom: 0px;">
  <div class="box-header">
    <h3 class="box-title"><i class="fa fa-save"></i>&nbsp;ROLLBACK确认</h3>
  </div>
  <div class="box-body container-fluid mscrollbar" style="height: {{ size.height + 88 }}px;" ng-style="{ 'height': '{{size.height + 88}}px' }">
    <div class="row">
      <div class="col-md-12">
        <label>应用名称：</label>{{ app.name }} （ AppId：{{ app.id }}）
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>共发布至：</label>{{ getServersCount() }} 台服务器
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>编译包名称：</label>{{ getSelectedBuilder().name }}( {{ getDeploymentVersion(getSelectedBuilder()) }} )
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset style="margin: 8px 1px;">
          <legend>配置策略</legend>
          <form role="form" class="container-fluid">

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>group：</label>
              </div>
              <div class="col-md-8">
                <p><b>{{ config.group.name }} （ {{ config.group.id }} ）</b></p>
              </div>
            </div>

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>忽略点火：</label>
              </div>
              <div class="col-md-8">
                <p><b>{{ config.ignoreVerifyResult }}</b></p>
              </div>
            </div>

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>重启应用程序池：</label>
              </div>
              <div class="col-md-8">
                <p>
                  <input type="checkbox" class="toggle form-control" id="restartAppPool2" name="restartAppPool2" ng-model="config.restartAppPool">
                  <label for="restartAppPool2" style="width: 56px;"></label>
                </p>
              </div>
            </div>

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>批次设置：</label>
              </div>
              <div class="col-md-8">
                <p><b><!--{{ settings.values.batchPattern }}--> {{ getPreviewBatches(this) }}</b>
                </p>
              </div>
            </div>

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>批次间等待时间：</label>
              </div>
              <div class="col-md-8">
                <p><b>{{ config.pauseTime }}</b> 分钟</p>
              </div>
            </div>

            <div class="form-group2 row">
              <div class="col-md-4">
                <label>应用启动超时时间：</label>
              </div>
              <div class="col-md-8">
                <p><b>{{ config.startupTimeout }} </b>分钟</p>
              </div>
            </div>

          </form>
        </fieldset>
        <div class="summary-formula">上述配置在发布成功的情况下，生产Rolling过程约需XX分钟</div>
      </div>
    </div>
  </div>
</div>