<div class="wrapper" ng-controller="com.ctrip.tars.security.Controller">

  <div class="lockscreen">

    <header class="header">
      <h2 class="list-group-item-heading logo" style="font-size: 30px;">tars</h2>
    </header>
    <section>
      <!--  <form role="form" target="_self" action="index.html">-->

      <div class="list-group" style="margin-top: 58%;">
        <div class="list-group-item" style="margin-left: 104px; padding: 16px; border: 0px; background-color: transparent;">
          <div class="pull-left">

            <div class="img-circle" style="  margin-left: -104px; margin-top: 28px; width: 100px; height: 100px; line-height: 100px;">
              <div class="img-circle user-photo" alt="User Image" />
            </div>
          </div>
          <div>
            <div class="form-group">
              <label for="username">登录名：</label>
              <input type="text" class="form-control" id="username" style="border: 1px solid #9e9e9e; background-color: transparent; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" placeholder="Username" />
            </div>
            <div class="form-group">
              <label for="passwd">密&nbsp;码：</label>
              <input type="password" class="form-control" id="passwd" style="border: 1px solid #9e9e9e; background-color: transparent; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" placeholder="Password" />
            </div>
            <div class="form-input">
              <label> 记住密码
                <input type="checkbox" id="remeberme" ng-click="remeberme()" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 48px; line-height: 40px; background: rgba(0, 0, 0, 0.2); margin-top: auto; margin-bottom: 20px; padding: 4px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; text-align: center; color: #9e9e9e;">

        <button class="btn-submit img-circle" style="width: 40px; height: 40px; float: left; margin-left: 0px; background: rgb(69, 69, 69); color: #fff; line-height: 1;" ng-click="login();">
          <i style="font-size: 12px;">登录</i>
        </button>
        <span id="message">点击登录.</span>
        <button class="img-circle" style="width: 40px; height: 40px; float: right; background: rgba(0, 0, 0, 0.1);" disabled="disabled">&nbsp;</button>
      </div>
      <!--  </form>-->
    </section>
  </div>
</div>